# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

            - nama: Interaksi pertama
  penggunaan: actions/first-interaction@v1.3.0
  dengan:
    # Token untuk repositori. Dapat diberikan menggunakan {{ secrets.GITHUB_TOKEN }}
    token repo:
    # Komentar untuk diposting pada edisi pertama seseorang
    pesan masalah: # opsional
    # Komentar untuk diposting pada permintaan pull request pertama seseorang
    pr-message: # opsional
    
on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
